<!DOCTYPE html>
<html lang="EN">
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Hw1</title>
</head>
<body>


<form class="form-style-4" action=""  method="post" id="submit">
    <label for="field1">
        <span>Generate random number between</span>
        <br>
        <input type="number" id="num" name="num" value="1">
        <br>
        <span> and </span>
        <input type="number" id="num2" name="num2" value="10">
        <br>
    </label>
    <label for="field2">
        <span>Splashbase image search: </span>
        <input type="text" name="field2" required="true"/>
    </label>
    <label>
        <span> </span><input type="submit" value="Submit"/>
    </label>

</form>
<script id="script2" type="text/javascript" src="main.js"></script>
</body>
</html>
