<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <title>Root page</title>

</head>

<body>
    <h1>
        Main page
        <p>Please proceed to the <a href="https://rest-ih645rutma-nw.a.run.app/rate?"> rating app. </a></p>
    </h1>
</body>

</html>